<html>
<body>
<div class="login">
<h1>Student Exam Performance Indicator</h1>
<form action="{{ url_for('predict_datapoint')}}" method="post">
<h1>
|<legend>Student Exam Performance Prediction</legend>
</h1>
<div class="mb-3">
<label class="form-label"> Gender</label>
<select class="form-control" name="gender" placeholder="Enter you Gender" required>
<option class="placeholder" selected disabled value="">Select your Gender</option
<option value="male">
Male
</option>
<option value="female">
Female
</option>
</select>
</div>
<div class="mb-3">
<label class="form-label"> Race or Ethnicity</label>
 <select class="form-control" name="ethnicity" placeholder="Enter your Ethnic ity" required>
 <option class="placeholder" selected disabled value="">Select Ethnicity</option>
 <option value="group A">
 Group A
 </option>
 <option value="group B">
 Group B
 </option>
 <option value="group C">
 Group C
 </option>
 <option value="group D">
 Group D
 </option>
 <option value="group E">
 Group E
 </option>
 </select>
 </div>
 <div class="mb-3">
 <label class="form-label"> Parental Level of Education</label>
 <select class="form-control" name="parental level of education"
 placeholder="Enter your Parent Education" required>
 <option class="placeholder" selected disabled value="">Select Parental Education</option>
 <option value="bachelor's degree">
 Bachelor's Degree
 </option>
 <option value="high school">
 High School
 </option>
 <option value="master's degree">
 Master's Degree
 </option>
 <option value="associate's degree">
 Associate's Degree
 </option>
 <option value="some college">
 Some College